@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
:root{
    --yello-clr: hwb(54 0% 3%);
    --second-clr:#fe7f48;
}
body{
    font-family: 'Poppins', sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container{
     text-align: center;
     padding: 30px 0;
}

.container nav{
   padding: 40px 0;
   
}

.container nav ul li{
    display: inline-block;
    padding: 0 20px;
}
.container nav ul li a{
    color: var(--second-clr);
    font-size: 18px;
    transition: .5s ease;
   

}
.container nav ul li a:hover{
     color: black;
}

.toggler_icon i{
    font-size: 20px;
}

.toggler_icon{
    display: none;
}

.container .search-box{
    padding: 20px 0;
    margin-top: 50px;

}
.container .search-box input{
    outline: 0;
    border: 1px solid var(--second-clr);
    padding: 8px 10px;
    width: 20%;
    border-radius: 10px;
}
.container .search-box input::placeholder{
    color: var(--second-clr);
    font-weight: 700;
}
/* circle */
.circle{
    position: absolute;
    height: 100px;
    width: 100px;
    background: var(--yello-clr);
    border-radius: 50%;
    left: 20%;
    margin-top: 80px;
}
.circl2{
    position: absolute;
    height: 200px;
    width: 200px;
    background: var(--yello-clr);
    border-radius: 50%;
    right: 20%;
    top: 20%;
    z-index: -1;
   
}

.container .header_content{
    margin-top: 50px ;
}

.container .header_content h5,h1,p{
    padding: 10px 0;
}
.container .header_content h5{
    color: var(--second-clr);
    font-size: 25px;
}

.container .header_content h1{
    color: #111111f6;
    font-size: 60px;
}
.container .header_content p{
    color: #11111191;
}

.container .header_content .Social_link{
    margin-top: 20px;
    margin-left: 5px;
}
.container .header_content .Social_link ul li{
    display: inline-block;
    padding: 0 20px;
}
.container .header_content .Social_link li a {
    font-size: 20px;
}

.container .header_content .Social_link li:nth-child(1) a{
    color: #3b5998;
}

.container .header_content .Social_link li:nth-child(2) a{
    color: #c4302b;
}
.container .header_content .Social_link li:nth-child(3) a{
    color: #fa7e1e;
}


/* bottom circles */

.l_Half_circle{
    position: absolute;
    height: 200px;
    width: 250px;
    background: var(--second-clr);
    z-index: -1;
    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0;
}

.r_Half_circle {
    position: absolute;
    height: 200px;
    width: 250px;
    background: var(--second-clr);
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 0;
}





@media screen and (max-width: 768px) {
	 .container{
        padding: 0px 0;
     }
     .container nav {
        padding: 0 0;
        background: var(--second-clr);
        height: 50px;
        width: 100%;
        color: #fff;
       line-height: 50px;
       border: 1px solid #111;
     }
      .container nav ul{
         position: absolute;
        background: var(--yello-clr);
        margin-top: 50px;
        width: 100%;
        height: 100vh;
        z-index: 111;
        left: -1100px;
        transition: .9s ease;
      }
      .container nav .nav_open{
        left: 0;
      }


     .container nav ul li{
        display: block;
        padding: 10px 0;

     }
     .container nav .toggler_icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20px;
        cursor: pointer;
    }   /* .container .search-box input */

.circle{
    left: 20%;
    bottom: 50%;
    z-index: -1;
}
.circl2{
    right: 0%;
    top: 0%;
    z-index: -1;
}

.container .search-box input{
    width: 80%;
    margin-top: 50px;
    z-index: 0;
}
.container .header_content{
    margin-top: 30px;
}
.container .header_content h1{
    font-size: 45px;
}

.l_Half_circle,.r_Half_circle{
    width: 200px;
    height: 150px;
}
}
